@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap"); /* CSS Para instrumentos de cuerda*/
@media (min-width: 300px) {
  .productos-cuerda {
    display: grid;
    justify-content: center;
    margin-top: 50px;
    grid-template-columns: 9% 40% 9% 40% 9%;
    grid-template-rows: 30% 30% 30%;
    grid-template-areas: ". prod1c . prod2c ." ". prod3c . prod4c ." ". prod5c . prod6c .";
    row-gap: 50px;
    height: 80%;
    max-height: 80%;
  }
  .header-instrumentos-de-cuerda {
    background-color: black;
  }
  .titulo-cuerda {
    height: 100px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-bottom: dashed black 2px;
  }
  .titulo-contenedor {
    font-family: "Crimson Pro", serif;
    color: black;
  }
  .producto-1-cuerda {
    grid-area: prod1c;
  }
  .producto-2-cuerda {
    grid-area: prod2c;
  }
  .producto-3-cuerda {
    grid-area: prod3c;
  }
  .producto-4-cuerda {
    grid-area: prod4c;
  }
  .producto-5-cuerda {
    grid-area: prod5c;
  }
  .producto-6-cuerda {
    grid-area: prod6c;
  }
  .imagen-guitarra {
    width: 100%;
    height: 100%;
    border-bottom: solid black 2px;
  }
  .producto-1-cuerda, .producto-2-cuerda, .producto-3-cuerda, .producto-4-cuerda, .producto-5-cuerda, .producto-6-cuerda {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Crimson Pro", serif;
    color: black;
    border: solid 2px black;
  }
  .footer-conteiner-cuerda {
    display: grid;
    grid-template-columns: 6.55% repeat(3, 29%) 6.55%;
    grid-template-rows: 20%;
    grid-template-areas: ". sect1 sect2 sect3 .";
    margin-top: 60px;
    background-color: goldenrod;
  }
  .titulo-guitarra {
    font-size: 15px;
  }
}
@media (min-width: 600px) {
  .body {
    height: 100%;
  }
  .productos-cuerda {
    display: grid;
    height: 100%;
    margin-top: 70px;
    grid-template-columns: 9% 21.45% 9% 21.45% 9% 21.45% 9%;
    grid-template-rows: 47% 47% 47%;
    grid-template-areas: ". prod1c . prod2c . prod3c ." ". prod4c . prod5c . prod6c .";
    row-gap: 50px;
    height: 80%;
    max-height: 80%;
    justify-content: center;
  }
  .header-instrumentos-de-cuerda {
    height: 146px;
    background-color: black;
  }
  .titulo-cuerda {
    height: 100px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-bottom: dashed black 2px;
  }
  .titulo-contenedor {
    font-family: "Crimson Pro", serif;
    color: black;
  }
  .producto-1-cuerda {
    grid-area: prod1c;
  }
  .producto-2-cuerda {
    grid-area: prod2c;
  }
  .producto-3-cuerda {
    grid-area: prod3c;
  }
  .producto-4-cuerda {
    grid-area: prod4c;
  }
  .producto-5-cuerda {
    grid-area: prod5c;
  }
  .producto-6-cuerda {
    grid-area: prod6c;
  }
  .imagen-guitarra {
    width: 100%;
    height: 100%;
    border-bottom: solid black 2px;
  }
  .producto-1-cuerda, .producto-2-cuerda, .producto-3-cuerda, .producto-4-cuerda, .producto-5-cuerda, .producto-6-cuerda {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Crimson Pro", serif;
    color: black;
    border: solid 2px black;
  }
  .footer-conteiner-cuerda {
    display: grid;
    grid-template-columns: 6.55% repeat(3, 29%) 6.55%;
    grid-template-rows: 20%;
    grid-template-areas: ". sect1 sect2 sect3 .";
    margin-top: 40px;
    background-color: goldenrod;
  }
  .titulo-guitarra {
    font-size: 20px;
  }
}
@media (min-width: 1042px) {
  .body {
    width: 100%;
    height: 100%;
  }
  .header-instrumentos-de-cuerda {
    height: 146px;
    background-color: black;
  }
  .titulo-cuerda {
    height: 100px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-bottom: dashed black 2px;
  }
  .titulo-contenedor {
    font-family: "Crimson Pro", serif;
    color: black;
  }
  .productos-cuerda {
    display: grid;
    margin-top: 70px;
    grid-template-columns: 9% 21.45% 9% 21.45% 9% 21.45% 9%;
    grid-template-rows: 47% 47%;
    grid-template-areas: ". prod1c . prod2c . prod3c ." ". prod4c . prod5c . prod6c .";
    row-gap: 50px;
    height: 80%;
    max-height: 80%;
  }
  .producto-1-cuerda {
    grid-area: prod1c;
  }
  .producto-2-cuerda {
    grid-area: prod2c;
  }
  .producto-3-cuerda {
    grid-area: prod3c;
  }
  .producto-4-cuerda {
    grid-area: prod4c;
  }
  .producto-5-cuerda {
    grid-area: prod5c;
  }
  .producto-6-cuerda {
    grid-area: prod6c;
  }
  .imagen-guitarra {
    width: 100%;
    height: 100%;
    border-bottom: solid black 2px;
  }
  .producto-1-cuerda, .producto-2-cuerda, .producto-3-cuerda, .producto-4-cuerda, .producto-5-cuerda, .producto-6-cuerda {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Crimson Pro", serif;
    color: black;
    border: solid 2px black;
  }
  .footer-conteiner-cuerda {
    display: grid;
    grid-template-columns: 6.55% repeat(3, 29%) 6.55%;
    grid-template-rows: 20%;
    grid-template-areas: ". sect1 sect2 sect3 .";
    margin-top: 40px;
    background-color: goldenrod;
  }
  .titulo-guitarra {
    font-size: 30px;
  }
}
/* CSS Para instrumentos de teclado*/
@media (min-width: 300px) {
  .productos-teclado {
    display: grid;
    justify-content: center;
    margin-top: 50px;
    grid-template-columns: 9% 40% 9% 40% 9%;
    grid-template-rows: 30% 30% 30%;
    grid-template-areas: ". prod1c . prod2c ." ". prod3c . prod4c ." ". prod5c . prod6c .";
    row-gap: 50px;
    height: 80%;
    max-height: 80%;
  }
  .header-instrumentos-de-teclado {
    background-color: black;
  }
  .titulo-teclado {
    height: 100px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-bottom: dashed black 2px;
  }
  .titulo-contenedor {
    font-family: "Crimson Pro", serif;
    color: black;
  }
  .producto-1-teclado {
    grid-area: prod1c;
  }
  .producto-2-teclado {
    grid-area: prod2c;
  }
  .producto-3-teclado {
    grid-area: prod3c;
  }
  .producto-4-teclado {
    grid-area: prod4c;
  }
  .producto-5-teclado {
    grid-area: prod5c;
  }
  .producto-6-teclado {
    grid-area: prod6c;
  }
  .imagen-guitarra {
    width: 100%;
    height: 100%;
    border-bottom: solid black 2px;
  }
  .producto-1-teclado, .producto-2-teclado, .producto-3-teclado, .producto-4-teclado, .producto-5-teclado, .producto-6-teclado {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Crimson Pro", serif;
    color: black;
    border: solid 2px black;
  }
  .footer-conteiner {
    display: grid;
    grid-template-columns: 6.55% repeat(3, 29%) 6.55%;
    grid-template-rows: 20%;
    grid-template-areas: ". sect1 sect2 sect3 .";
    margin-top: 60px;
    background-color: goldenrod;
  }
  .titulo-guitarra {
    font-size: 15px;
  }
}
@media (min-width: 600px) {
  .body {
    height: 100%;
  }
  .productos-teclado {
    display: grid;
    height: 100%;
    margin-top: 70px;
    grid-template-columns: 9% 21.45% 9% 21.45% 9% 21.45% 9%;
    grid-template-rows: 47% 47% 47%;
    grid-template-areas: ". prod1c . prod2c . prod3c ." ". prod4c . prod5c . prod6c .";
    row-gap: 50px;
    height: 80%;
    max-height: 80%;
    justify-content: center;
  }
  .header-instrumentos-de-teclado {
    height: 146px;
    background-color: black;
  }
  .titulo-teclado {
    height: 100px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-bottom: dashed black 2px;
  }
  .titulo-contenedor {
    font-family: "Crimson Pro", serif;
    color: black;
  }
  .producto-1-teclado {
    grid-area: prod1c;
  }
  .producto-2-teclado {
    grid-area: prod2c;
  }
  .producto-3-teclado {
    grid-area: prod3c;
  }
  .producto-4-teclado {
    grid-area: prod4c;
  }
  .producto-5-teclado {
    grid-area: prod5c;
  }
  .producto-6-teclado {
    grid-area: prod6c;
  }
  .imagen-guitarra {
    width: 100%;
    height: 100%;
    border-bottom: solid black 2px;
  }
  .producto-1-teclado, .producto-2-teclado, .producto-3-teclado, .producto-4-teclado, .producto-5-teclado, .producto-6-teclado {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Crimson Pro", serif;
    color: black;
    border: solid 2px black;
  }
  .footer-conteiner {
    display: grid;
    grid-template-columns: 6.55% repeat(3, 29%) 6.55%;
    grid-template-rows: 20%;
    grid-template-areas: ". sect1 sect2 sect3 .";
    margin-top: 40px;
    background-color: goldenrod;
  }
  .titulo-guitarra {
    font-size: 20px;
  }
}
@media (min-width: 1042px) {
  .body {
    width: 100%;
    height: 100%;
  }
  .header-instrumentos-de-teclado {
    height: 146px;
    background-color: black;
  }
  .titulo-teclado {
    height: 100px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-bottom: dashed black 2px;
  }
  .titulo-contenedor {
    font-family: "Crimson Pro", serif;
    color: black;
  }
  .productos-teclado {
    display: grid;
    margin-top: 70px;
    grid-template-columns: 9% 21.45% 9% 21.45% 9% 21.45% 9%;
    grid-template-rows: 47% 47%;
    grid-template-areas: ". prod1c . prod2c . prod3c ." ". prod4c . prod5c . prod6c .";
    row-gap: 50px;
    height: 80%;
    max-height: 80%;
  }
  .producto-1-teclado {
    grid-area: prod1c;
  }
  .producto-2-teclado {
    grid-area: prod2c;
  }
  .producto-3-teclado {
    grid-area: prod3c;
  }
  .producto-4-teclado {
    grid-area: prod4c;
  }
  .producto-5-teclado {
    grid-area: prod5c;
  }
  .producto-6-teclado {
    grid-area: prod6c;
  }
  .imagen-guitarra {
    width: 100%;
    height: 100%;
    border-bottom: solid black 2px;
  }
  .producto-1-teclado, .producto-2-teclado, .producto-3-teclado, .producto-4-teclado, .producto-5-teclado, .producto-6-teclado {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Crimson Pro", serif;
    color: black;
    border: solid 2px black;
  }
  .footer-conteiner {
    display: grid;
    grid-template-columns: 6.55% repeat(3, 29%) 6.55%;
    grid-template-rows: 20%;
    grid-template-areas: ". sect1 sect2 sect3 .";
    margin-top: 40px;
    background-color: goldenrod;
  }
  .titulo-guitarra {
    font-size: 30px;
  }
}
/* CSS Para instrumentos de teclado*/
@media (min-width: 300px) {
  .productos-instrumentos-de-viento {
    display: grid;
    justify-content: center;
    margin-top: 50px;
    grid-template-columns: 9% 40% 9% 40% 9%;
    grid-template-rows: 30% 30% 30%;
    grid-template-areas: ". prod1c . prod2c ." ". prod3c . prod4c ." ". prod5c . prod6c .";
    row-gap: 50px;
    height: 80%;
    max-height: 80%;
  }
  .header-instrumentos-de-viento {
    background-color: black;
  }
  .titulo-instrumentos-de-viento {
    height: 100px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-bottom: dashed black 2px;
  }
  .titulo-contenedor {
    font-family: "Crimson Pro", serif;
    color: black;
  }
  .producto-1-instrumentos-de-viento {
    grid-area: prod1c;
  }
  .producto-2-instrumentos-de-viento {
    grid-area: prod2c;
  }
  .producto-3-instrumentos-de-viento {
    grid-area: prod3c;
  }
  .producto-4-instrumentos-de-viento {
    grid-area: prod4c;
  }
  .producto-5-instrumentos-de-viento {
    grid-area: prod5c;
  }
  .producto-6-instrumentos-de-viento {
    grid-area: prod6c;
  }
  .imagen-instrumentos-de-viento {
    width: 100%;
    height: 100%;
    border-bottom: solid black 2px;
  }
  .producto-1-instrumentos-de-viento, .producto-2-instrumentos-de-viento, .producto-3-instrumentos-de-viento, .producto-4-instrumentos-de-viento, .producto-5-instrumentos-de-viento, .producto-6-instrumentos-de-viento {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Crimson Pro", serif;
    color: black;
    border: solid 2px black;
  }
  .footer-conteiner {
    display: grid;
    grid-template-columns: 6.55% repeat(3, 29%) 6.55%;
    grid-template-rows: 20%;
    grid-template-areas: ". sect1 sect2 sect3 .";
    margin-top: 60px;
    background-color: goldenrod;
  }
  .titulo-guitarra {
    font-size: 15px;
  }
}
@media (min-width: 600px) {
  .body {
    height: 100%;
  }
  .productos-instrumentos-de-viento {
    display: grid;
    height: 100%;
    margin-top: 70px;
    grid-template-columns: 9% 21.45% 9% 21.45% 9% 21.45% 9%;
    grid-template-rows: 47% 47% 47%;
    grid-template-areas: ". prod1c . prod2c . prod3c ." ". prod4c . prod5c . prod6c .";
    row-gap: 50px;
    height: 80%;
    max-height: 80%;
    justify-content: center;
  }
  .header-instrumentos-de-viento {
    height: 146px;
    background-color: black;
  }
  .titulo-instrumentos-de-viento {
    height: 100px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-bottom: dashed black 2px;
  }
  .titulo-contenedor {
    font-family: "Crimson Pro", serif;
    color: black;
  }
  .producto-1-instrumentos-de-viento {
    grid-area: prod1c;
  }
  .producto-2-instrumentos-de-viento {
    grid-area: prod2c;
  }
  .producto-3-instrumentos-de-viento {
    grid-area: prod3c;
  }
  .producto-4-instrumentos-de-viento {
    grid-area: prod4c;
  }
  .producto-5-instrumentos-de-viento {
    grid-area: prod5c;
  }
  .producto-6-instrumentos-de-viento {
    grid-area: prod6c;
  }
  .imagen-instrumentos-de-viento {
    width: 100%;
    height: 100%;
    border-bottom: solid black 2px;
  }
  .producto-1-instrumentos-de-viento, .producto-2-instrumentos-de-viento, .producto-3-instrumentos-de-viento, .producto-4-instrumentos-de-viento, .producto-5-instrumentos-de-viento, .producto-6-instrumentos-de-viento {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Crimson Pro", serif;
    color: black;
    border: solid 2px black;
  }
  .footer-conteiner {
    display: grid;
    grid-template-columns: 6.55% repeat(3, 29%) 6.55%;
    grid-template-rows: 20%;
    grid-template-areas: ". sect1 sect2 sect3 .";
    margin-top: 40px;
    background-color: goldenrod;
  }
  .titulo-guitarra {
    font-size: 20px;
  }
}
@media (min-width: 1042px) {
  .body {
    width: 100%;
    height: 100%;
  }
  .header-instrumentos-de-viento {
    height: 146px;
    background-color: black;
  }
  .titulo-instrumentos-de-viento {
    height: 100px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-bottom: dashed black 2px;
  }
  .titulo-contenedor {
    font-family: "Crimson Pro", serif;
    color: black;
  }
  .productos-instrumentos-de-viento {
    display: grid;
    margin-top: 70px;
    grid-template-columns: 9% 21.45% 9% 21.45% 9% 21.45% 9%;
    grid-template-rows: 47% 47%;
    grid-template-areas: ". prod1c . prod2c . prod3c ." ". prod4c . prod5c . prod6c .";
    row-gap: 50px;
    height: 80%;
    max-height: 80%;
  }
  .producto-1-instrumentos-de-viento {
    grid-area: prod1c;
  }
  .producto-2-instrumentos-de-viento {
    grid-area: prod2c;
  }
  .producto-3-instrumentos-de-viento {
    grid-area: prod3c;
  }
  .producto-4-instrumentos-de-viento {
    grid-area: prod4c;
  }
  .producto-5-instrumentos-de-viento {
    grid-area: prod5c;
  }
  .producto-6-instrumentos-de-viento {
    grid-area: prod6c;
  }
  .imagen-instrumentos-de-viento {
    width: 100%;
    height: 100%;
    border-bottom: solid black 2px;
  }
  .producto-1-instrumentos-de-viento, .producto-2-instrumentos-de-viento, .producto-3-instrumentos-de-viento, .producto-4-instrumentos-de-viento, .producto-5-instrumentos-de-viento, .producto-6-instrumentos-de-viento {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Crimson Pro", serif;
    color: black;
    border: solid 2px black;
  }
  .footer-conteiner {
    display: grid;
    grid-template-columns: 6.55% repeat(3, 29%) 6.55%;
    grid-template-rows: 20%;
    grid-template-areas: ". sect1 sect2 sect3 .";
    margin-top: 40px;
    background-color: goldenrod;
  }
  .titulo-guitarra {
    font-size: 30px;
  }
}
* {
  padding: 0;
  margin: 0;
}

.header-index {
  background-color: rgb(0, 0, 0);
  height: 250px;
  justify-content: center;
}

body {
  height: 100%;
  width: 100%;
  background-color: rgb(234, 229, 221);
}

.header-top {
  background-color: rgb(1, 1, 1);
  width: 100%;
  height: 240px;
  border-bottom: solid 1px goldenrod;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

.logo {
  height: 75px;
  width: 75px;
}

.imagen-logo {
  height: 100%;
  width: 100%;
}

.navegador {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0 10px 0;
}

.contenedor-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 124px;
  list-style: none;
  padding-left: 0px;
  font-family: "Crimson Pro", serif;
}

.link-1 a {
  text-decoration: none;
  list-style: none;
  color: azure;
  font-size: 20px;
  transition: 0.5s;
}

.link-2 a {
  text-decoration: none;
  list-style: none;
  color: azure;
  font-size: 20px;
  transition: 0.5s;
}

.link-3 a {
  text-decoration: none;
  list-style: none;
  color: azure;
  font-size: 20px;
  transition: 0.5s;
}

.link-4 a {
  text-decoration: none;
  list-style: none;
  color: azure;
  font-size: 20px;
  transition: 0.5s;
}

.link-5 a {
  text-decoration: none;
  list-style: none;
  color: azure;
  font-size: 20px;
  transition: 0.5s;
}

.link-1 a:hover {
  color: goldenrod;
}

.link-2 a:hover {
  color: goldenrod;
}

.link-3 a:hover {
  color: goldenrod;
}

.link-4 a:hover {
  color: goldenrod;
}

.link-5 a:hover {
  color: goldenrod;
}

.keyboard-1, .keyboard-2, .keyboard-3 {
  display: none;
}

.section1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 20px 20px 0 20px;
}

.titulo-1 {
  font-size: 20px;
  font-family: "Crimson Pro", serif;
  -webkit-text-decoration: underline goldenrod;
          text-decoration: underline goldenrod;
}

.contenedor-carrusel {
  max-width: 900px;
  max-height: 400px;
  border: solid 3.5px goldenrod;
  margin-top: 20px;
}

.footer-conteiner {
  display: grid;
  grid-template-columns: 6.55% repeat(3, 29%) 6.55%;
  grid-template-rows: 20%;
  grid-template-areas: ". sect1 sect2 sect3 .";
  margin-top: 70px;
  background-color: goldenrod;
}

.links-ul {
  list-style-type: none;
  justify-self: center;
  padding-left: 0;
}

.instagram-icon {
  height: 20px;
  width: auto;
}

.twitter-icon {
  height: 20px;
  width: auto;
}

.facebook-icon {
  height: 20px;
  width: auto;
}

.footer-cont-1 {
  grid-area: sect1;
  justify-self: center;
  height: 100%;
}

.footer-texto-1 {
  font-size: 15px;
  font-family: "Crimson Pro", serif;
}

.footer-cont-2 {
  grid-area: sect2;
  justify-self: center;
  height: 100%;
}

.footer-texto-2 {
  font-size: 15px;
  font-family: "Crimson Pro", serif;
}

.footer-cont-3 {
  grid-area: sect3;
  justify-self: center;
  height: 100%;
}

.footer-texto-3 {
  font-size: 15px;
  font-family: "Crimson Pro", serif;
}

.link-1-foot a, .link-2-foot a, .link-3-foot a, .link-4-foot a, .link-5-foot a {
  list-style-type: none;
  text-decoration: none;
  color: black;
  font-family: "Crimson Pro", serif;
  font-size: 10px;
}

.link-1-foot, .link-2-foot, .link-3-foot, .link-4-foot, .link-5-foot a {
  display: flex;
  flex-direction: column;
}

/*CSS para Quienes somos*/
.titulo-quienes-somos {
  height: 100px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border-bottom: dashed black 2px;
}

.conteiner-texto-quienes-somos {
  padding: 30px 10px 10px 30px;
}

.texto-quienes-somos {
  font-family: "Crimson Pro", serif;
  font-size: 20px;
}

.position-guitarra-img {
  max-width: 100%;
}

.imagen-q-s {
  height: 150px;
  width: auto;
}

.position-guitarra-img {
  display: flex;
  justify-content: center;
  padding: 50px 0 0 0;
}

@media (min-width: 600px) {
  .header-index {
    background-color: rgb(0, 0, 0);
    height: 146px;
    justify-content: center;
  }
  body {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: rgb(234, 229, 221);
  }
  .header-top {
    background-color: rgb(1, 1, 1);
    width: 100%;
    height: 125px;
    border-bottom: solid 1px goldenrod;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
  }
  .logo {
    height: 0px;
    width: 0px;
  }
  .navegador {
    width: 100%;
  }
  .contenedor-links {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    width: 100%;
    list-style: none;
    font-family: "Crimson Pro", serif;
  }
  .keyboard-1, .keyboard-2, .keyboard-3 {
    display: none;
  }
  .section1 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin: 20px 20px 0 20px;
  }
  .titulo-1 {
    font-size: 25px;
    font-family: "Crimson Pro", serif;
    -webkit-text-decoration: underline goldenrod;
            text-decoration: underline goldenrod;
  }
  .contenedor-carrusel {
    max-width: 900px;
    max-height: 400px;
    border: solid 3.5px goldenrod;
  }
  .footer-conteiner {
    display: grid;
    grid-template-columns: 6.55% repeat(3, 29%) 6.55%;
    grid-template-rows: 20%;
    grid-template-areas: ". sect1 sect2 sect3 .";
    margin-top: 60px;
    background-color: goldenrod;
  }
  .links-ul {
    list-style-type: none;
    justify-self: center;
    padding-left: 0;
  }
  .instagram-icon {
    height: 25px;
    width: auto;
  }
  .twitter-icon {
    height: 25px;
    width: auto;
  }
  .facebook-icon {
    height: 25px;
    width: auto;
  }
  .footer-cont-1 {
    grid-area: sect1;
    justify-self: center;
    height: 100%;
  }
  .footer-texto-1 {
    font-size: 25px;
    font-family: "Crimson Pro", serif;
  }
  .footer-cont-2 {
    grid-area: sect2;
    justify-self: center;
    height: 100%;
  }
  .footer-texto-2 {
    font-size: 25px;
    font-family: "Crimson Pro", serif;
  }
  .footer-cont-3 {
    grid-area: sect3;
    justify-self: center;
    height: 100%;
  }
  .footer-texto-3 {
    font-size: 25px;
    font-family: "Crimson Pro", serif;
  }
  .link-1-foot a, .link-2-foot a, .link-3-foot a, .link-4-foot a, .link-5-foot a {
    list-style-type: none;
    text-decoration: none;
    color: black;
    font-family: "Crimson Pro", serif;
    font-size: 20px;
  }
  .imagen-q-s {
    height: 250px;
    width: auto;
  }
  .texto-quienes-somos {
    font-family: "Crimson Pro", serif;
    font-size: 30px;
  }
}
@media (min-width: 800px) {
  .header-index {
    background-color: rgb(0, 0, 0);
    height: 146px;
    justify-content: center;
  }
  body {
    background-color: rgb(234, 229, 221);
  }
  .header-top {
    background-color: rgb(1, 1, 1);
    width: 100%;
    height: 125px;
    border-bottom: solid 1px goldenrod;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
  }
  .logo {
    height: 100px;
    width: 100px;
  }
  .navegador {
    width: 85%;
  }
  .contenedor-links {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    font-family: "Crimson Pro", serif;
    list-style: none;
  }
  .keyboard-1, .keyboard-2, .keyboard-3 {
    display: none;
  }
  .section1 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin: 20px 20px 20px 20px;
  }
  .titulo-1 {
    font-size: 30px;
    font-family: "Crimson Pro", serif;
    -webkit-text-decoration: underline goldenrod;
            text-decoration: underline goldenrod;
  }
  .contenedor-carrusel {
    max-width: 900px;
    max-height: 400px;
    border: solid 3.5px goldenrod;
  }
  .footer-conteiner {
    display: grid;
    grid-template-columns: 6.55% repeat(3, 29%) 6.55%;
    grid-template-rows: 20%;
    grid-template-areas: ". sect1 sect2 sect3 .";
    margin-top: 40px;
    background-color: goldenrod;
  }
  .links-ul {
    list-style-type: none;
    justify-self: center;
    padding-left: 0;
  }
  .instagram-icon {
    height: 30px;
    width: auto;
  }
  .twitter-icon {
    height: 30px;
    width: auto;
  }
  .facebook-icon {
    height: 30px;
    width: auto;
  }
  .footer-cont-1 {
    grid-area: sect1;
    justify-self: center;
    height: 100%;
  }
  .footer-texto-1 {
    font-size: 25px;
    font-family: "Crimson Pro", serif;
  }
  .footer-cont-2 {
    grid-area: sect2;
    justify-self: center;
    height: 100%;
  }
  .footer-texto-2 {
    font-size: 25px;
    font-family: "Crimson Pro", serif;
  }
  .footer-cont-3 {
    grid-area: sect3;
    justify-self: center;
    height: 100%;
  }
  .footer-texto-3 {
    font-size: 25px;
    font-family: "Crimson Pro", serif;
  }
  .link-1-foot a, .link-2-foot a, .link-3-foot a, .link-4-foot a, .link-5-foot a {
    list-style-type: none;
    text-decoration: none;
    color: black;
    font-family: "Crimson Pro", serif;
    font-size: 20px;
  }
  .imagen-q-s {
    height: 300px;
    width: auto;
  }
  .texto-quienes-somos {
    font-family: "Crimson Pro", serif;
    font-size: 40px;
  }
}
@media (min-width: 1042px) {
  .header-index {
    background-color: rgb(0, 0, 0);
    height: 225px;
  }
  body {
    background-color: rgb(234, 229, 221);
  }
  .keyboard-position {
    margin-top: 20px;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
  }
  .key-C, .key-D, .key-E, .key-F, .key-G, .key-A, .key-B {
    background-image: linear-gradient(to top, white, rgb(220, 220, 220));
    width: 50px;
    height: 70px;
    border-top: solid 1.7px black;
    border-bottom: solid 1.7px black;
    border-left: solid 0.95px black;
    border-right: solid 0.95px black;
  }
  .key-Cs, .key-Ds, .key-Fs, .key-Gs, .key-As {
    background-image: linear-gradient(black, rgb(42, 42, 42));
    width: 20px;
    height: 40px;
  }
  .key-C {
    grid-area: C;
  }
  .key-C:hover {
    background-image: linear-gradient(white, rgb(202, 202, 202));
  }
  .key-C:active {
    background-image: linear-gradient(white, rgb(92, 92, 92));
  }
  .key-Cs {
    grid-area: Cs;
  }
  .key-Cs:active {
    background-image: linear-gradient(to top, black, rgb(85, 85, 85));
  }
  .key-D {
    grid-area: D;
  }
  .key-D:hover {
    background-image: linear-gradient(white, rgb(202, 202, 202));
  }
  .key-D:active {
    background-image: linear-gradient(white, rgb(92, 92, 92));
  }
  .key-Ds {
    grid-area: Ds;
  }
  .key-Ds:active {
    background-image: linear-gradient(to top, black, rgb(85, 85, 85));
  }
  .key-E {
    grid-area: E;
  }
  .key-E:hover {
    background-image: linear-gradient(white, rgb(202, 202, 202));
  }
  .key-E:active {
    background-image: linear-gradient(white, rgb(92, 92, 92));
  }
  .key-F {
    grid-area: F;
  }
  .key-F:hover {
    background-image: linear-gradient(white, rgb(202, 202, 202));
  }
  .key-F:active {
    background-image: linear-gradient(white, rgb(92, 92, 92));
  }
  .key-Fs {
    grid-area: Fs;
  }
  .key-Fs:active {
    background-image: linear-gradient(to top, black, rgb(85, 85, 85));
  }
  .key-G {
    grid-area: G;
  }
  .key-G:hover {
    background-image: linear-gradient(white, rgb(202, 202, 202));
  }
  .key-G:active {
    background-image: linear-gradient(white, rgb(92, 92, 92));
  }
  .key-Gs {
    grid-area: Gs;
  }
  .key-Gs:active {
    background-image: linear-gradient(to top, black, rgb(85, 85, 85));
  }
  .key-A {
    grid-area: A;
  }
  .key-A:hover {
    background-image: linear-gradient(white, rgb(202, 202, 202));
  }
  .key-A:active {
    background-image: linear-gradient(white, rgb(92, 92, 92));
  }
  .key-As {
    grid-area: As;
  }
  .key-As:active {
    background-image: linear-gradient(to top, black, rgb(85, 85, 85));
  }
  .key-B:hover {
    background-image: linear-gradient(white, rgb(202, 202, 202));
  }
  .key-B:active {
    background-image: linear-gradient(white, rgb(92, 92, 92));
  }
  .header-top {
    background-color: rgb(1, 1, 1);
    width: 100%;
    height: 125px;
    border-bottom: solid 1px goldenrod;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
  }
  .logo {
    height: 100px;
    width: 100px;
  }
  .navegador {
    width: 85%;
  }
  .contenedor-links {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    font-family: "Crimson Pro", serif;
    list-style: none;
    margin: 0;
  }
  .link-1 a, .link-2 a, .link-3 a, .link-4 a, .link-5 a {
    text-decoration: none;
    list-style: none;
    color: azure;
    font-size: 25px;
    transition: 0.5s;
  }
  .link-1 a:hover, .link-2 a:hover, .link-3 a:hover, .link-4 a:hover, .link-5 a:hover {
    color: goldenrod;
  }
  .keyboard-1, .keyboard-2, .keyboard-3 {
    background-color: rgb(234, 234, 234);
    border-bottom: solid 1.7px black;
    display: grid;
    grid-template-columns: 50px 20px 50px 20px 50px 50px 20px 50px 20px 50px 20px;
    grid-template-rows: 75px;
    grid-template-areas: "C Cs D Ds E F Fs G Gs A As B";
  }
  .section1 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin: 20px 20px 0 20px;
  }
  .titulo-1 {
    font-size: 40px;
    font-family: "Crimson Pro", serif;
    -webkit-text-decoration: underline goldenrod;
            text-decoration: underline goldenrod;
  }
  .contenedor-carrusel {
    max-width: 900px;
    max-height: 400px;
    border: solid 3.5px goldenrod;
  }
  .footer-conteiner {
    display: grid;
    grid-template-columns: 6.55% repeat(3, 29%) 6.55%;
    grid-template-rows: 20%;
    grid-template-areas: ". sect1 sect2 sect3 .";
    margin-top: 60px;
    background-color: goldenrod;
  }
  .links-ul {
    list-style-type: none;
    justify-self: center;
    padding-left: 0;
  }
  .footer-cont-1 {
    grid-area: sect1;
    justify-self: center;
    height: 100%;
  }
  .footer-texto-1 {
    font-size: 25px;
    font-family: "Crimson Pro", serif;
  }
  .footer-cont-2 {
    grid-area: sect2;
    justify-self: center;
    height: 100%;
  }
  .footer-texto-2 {
    font-size: 25px;
    font-family: "Crimson Pro", serif;
  }
  .instagram-icon {
    height: 30px;
    width: auto;
  }
  .twitter-icon {
    height: 30px;
    width: auto;
  }
  .facebook-icon {
    height: 30px;
    width: auto;
  }
  .footer-cont-3 {
    grid-area: sect3;
    justify-self: center;
    height: 100%;
  }
  .footer-texto-3 {
    font-size: 25px;
    font-family: "Crimson Pro", serif;
  }
  .link-1-foot a, .link-2-foot a, .link-3-foot a, .link-4-foot a, .link-5-foot a {
    list-style-type: none;
    text-decoration: none;
    color: black;
    font-family: "Crimson Pro", serif;
    font-size: 20px;
  }
  .imagen-q-s {
    height: 400px;
    width: auto;
  }
  .texto-quienes-somos {
    font-family: "Crimson Pro", serif;
    font-size: 40px;
  }
}/*# sourceMappingURL=estilos.css.map */